Repository rapidsai/cusignal, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cpp, CMake, gpuCI, conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cusignal/labels

Python:
  - python/**
  - notebooks/**
  
cpp:
  - cpp/**

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

gpuCI:
  - /ci/**

conda:
  - conda/**

ENH Remove defaults channel from conda build
  ci/benchmark/build.sh
Labels: none

ENH Remove defaults channel from conda build (#361)
  ci/benchmark/build.sh
Labels: none

Add compile threads to build
  build.sh
Labels: none

Verbose
  build.sh
Labels: none

Add threads back
  build.sh
Labels: none

Speedup build for multi-arch compile (#362)
  build.sh
Labels: none

Enhance FIR filter methods. (#287)
  .gitignore
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  python/cusignal/__init__.py
  python/cusignal/filter_design/__init__.py
  python/cusignal/filter_design/fir_filter_design.py
  python/cusignal/filtering/__init__.py
  python/cusignal/filtering/filtering.py
  python/cusignal/test/test_filter_design.py
  python/cusignal/test/test_filtering.py
Labels: Python, conda

Adding ISTFT
  python/cusignal/__init__.py
  python/cusignal/spectral_analysis/__init__.py
  python/cusignal/spectral_analysis/spectral.py
  python/cusignal/test/test_spectral_analysis.py
Labels: Python

ENH Remove conda defaults channel in dev environments
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
Labels: conda

ENH Remove conda defaults channel in dev environments (#364)
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
Labels: conda

Accelerated istft
  python/cusignal/spectral_analysis/spectral.py
Labels: Python

Add update docs
  python/cusignal/spectral_analysis/spectral.py
Labels: Python

Add ISTFT (#363)
  python/cusignal/__init__.py
  python/cusignal/spectral_analysis/__init__.py
  python/cusignal/spectral_analysis/spectral.py
  python/cusignal/test/test_spectral_analysis.py
Labels: Python

ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: none

ENH Remove 'rapidsai-nightly' conda channel when building main branch (#365)
  ci/cpu/build.sh
Labels: none

ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: none

ENH Remove progress output on conda packages upload (#366)
  ci/cpu/upload.sh
Labels: none

ENH Update release script
  ci/release/update-version.sh
Labels: none

Update release script (#367)
  ci/release/update-version.sh
Labels: none

Pass compiler environment variables to conda python build
  conda/recipes/cusignal/meta.yaml
Labels: conda

Pass compiler environment variables to conda python build (#368)
  conda/recipes/cusignal/meta.yaml
Labels: conda

DOC Update to v21.06.00
  docs/source/conf.py
Labels: none

remove NIGHTLY_VERSION var
  ci/docs/build.sh
Labels: none

Update docs build script (#369)
  ci/docs/build.sh
Labels: none

DOC v21.08 Updates
  CHANGELOG.md
  docs/source/conf.py
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update changelog (#370)
  CHANGELOG.md
Labels: none

update 0.20 references
  CHANGELOG.md
Labels: none

Update `CHANGELOG.md` links for calver (#373)
  CHANGELOG.md
Labels: none

test added delay to rrr tool
  CHANGELOG.md
Labels: none

update cuda var
  conda/recipes/cusignal/meta.yaml
Labels: conda

Update indexing
  cpp/src/filtering/_sosfilt.cu
  python/cusignal/filtering/_sosfilt_cuda.py
Labels: Python, cpp

test and cleanup
  cpp/src/filtering/_sosfilt.cu
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/filtering.py
Labels: Python, cpp

formatting
  cpp/src/filtering/_sosfilt.cu
Labels: cpp

remove a syncthreads
  cpp/src/filtering/_sosfilt.cu
Labels: cpp

Formatting
  cpp/src/filtering/_sosfilt.cu
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/filtering.py
Labels: Python, cpp

Perf improvements
  cpp/src/filtering/_upfirdn.cu
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/resample.py
Labels: Python, cpp

Added gpupath to resample_poly tests
  python/cusignal/test/test_filtering.py
Labels: Python

Formatting
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/filtering.py
Labels: Python

Update environment variable used to determine `cuda_version` (#376)
  conda/recipes/cusignal/meta.yaml
Labels: conda
