Repository rapidsai/cusignal, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cpp, CMake, gpuCI, conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cusignal/labels

Python:
  - python/**
  - notebooks/**
  
cpp:
  - cpp/**

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

gpuCI:
  - /ci/**

conda:
  - conda/**

Remove pytorch from cusignal CI/CD (#404)
  ci/gpu/build.sh
Labels: none

mvdr perf optimizations and addition of elementwise divide kernel (#403)
  python/cusignal/radartools/beamformers.py
Labels: Python

Moving changes from clone to fork
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
  python/cusignal/test/test_radartools.py
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

Passing pyflakes (via flake8)
  python/cusignal/radartools/radartools.py
  python/cusignal/test/test_radartools.py
Labels: Python

Adding CFAR (#409)
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
  python/cusignal/test/test_radartools.py
Labels: Python

README overhaul
  README.md
Labels: none

Add citation file
  CITATION.cff
Labels: none

update matt orcid
  CITATION.cff
Labels: none

Update names
  CITATION.cff
Labels: none

remove readme from PR
  README.md
Labels: none

README overhaul (#411)
  README.md
Labels: none

Add citation file (#412)
  CITATION.cff
Labels: none

Fix typo in readme
  README.md
Labels: none

Fix typo in readme (#413)
  README.md
Labels: none

support space in workspace (#349)
  CHANGELOG.md
  ci/benchmark/build.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/build.sh
  ci/utils/nbtest.sh
Labels: none

Change type check to use isinstance instead of str compare
  python/cusignal/filtering/_upfirdn_cuda.py
Labels: Python

Change type check to use isinstance instead of str compare (#415)
  python/cusignal/filtering/_upfirdn_cuda.py
Labels: Python

Update python, cuda version
  ci/cpu/build.sh
  conda/recipes/cusignal/meta.yaml
Labels: conda

DOC v21.12 Updates
  CHANGELOG.md
  docs/source/conf.py
Labels: none

Fix indexing error in CWT
  python/cusignal/wavelets/wavelets.py
Labels: Python

Fix documentation formatting on FIR filter and add Beamers
  docs/source/api.rst
Labels: none

Fix doc formatting
  docs/source/api.rst
  python/cusignal/filtering/resample.py
Labels: Python

FIR Filter doc fix
  docs/source/api.rst
Labels: none

Fix indexing error in CWT (#425)
  python/cusignal/wavelets/wavelets.py
Labels: Python

Doc fix for FIR Filters (#426)
  docs/source/api.rst
  python/cusignal/filtering/resample.py
Labels: Python

Allow complex wavelet output for morlet2
  python/cusignal/wavelets/wavelets.py
Labels: Python

Meet code style requirement
  python/cusignal/wavelets/wavelets.py
Labels: Python

Update wavelets.py
  python/cusignal/wavelets/wavelets.py
Labels: Python

Update wavelets.py
  python/cusignal/wavelets/wavelets.py
Labels: Python

Update wavelets.py
  python/cusignal/wavelets/wavelets.py
Labels: Python

Allow complex wavelet output for morlet2 (#428)
  python/cusignal/wavelets/wavelets.py
Labels: Python

[Review] Data type conversion for cwt.
  python/cusignal/wavelets/wavelets.py
Labels: Python

Data type conversion for cwt. (#429)
  python/cusignal/wavelets/wavelets.py
Labels: Python

Add sw dependencies for pip packaging
  python/setup.py
Labels: Python

use cupy cuda 11.4
  python/setup.py
Labels: Python

Specify version numbers
  python/setup.py
Labels: Python

issues with pypi for specified versions
  python/setup.py
Labels: Python

remove cupy from pip install and test for lib on import
  python/cusignal/__init__.py
  python/setup.py
Labels: Python

more churn
  python/setup.cfg
  python/setup.py
Labels: Python
