Repository rapidsai/cusignal, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cpp, CMake, gpuCI, conda

Fix flake
  python/cusignal/test/test_waveforms.py
Labels: Python

Modified to accept 'real' and 'complex'
  python/cusignal/test/test_waveforms.py
  python/cusignal/waveforms/waveforms.py
Labels: Python

adding complex parameter to chirp and additional tests (#450)
  python/cusignal/test/test_waveforms.py
  python/cusignal/waveforms/waveforms.py
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

Fix docs builds
  docs/source/conf.py
Labels: none

update changelog
  CHANGELOG.md
Labels: none

fixing docs
  python/cusignal/convolution/convolve.py
  python/cusignal/peak_finding/peak_finding.py
  python/cusignal/waveforms/waveforms.py
Labels: Python

fixed flake8 error
  python/cusignal/convolution/convolve.py
Labels: Python

Fixes a list of minor errors in the example codes #457 (#458)
  python/cusignal/convolution/convolve.py
  python/cusignal/peak_finding/peak_finding.py
  python/cusignal/waveforms/waveforms.py
Labels: Python

Fix docs builds (#455)
  docs/source/conf.py
Labels: none

Added correlation_lags function
  python/cusignal/convolution/__init__.py
  python/cusignal/convolution/correlate.py
Labels: Python

correlation lags function (#459)
  python/cusignal/convolution/__init__.py
  python/cusignal/convolution/correlate.py
Labels: Python

add `ops-bot` config file
  .github/ops-bot.yaml
Labels: none

update comment
  .github/ops-bot.yaml
Labels: none

Add `.github/ops-bot.yaml` config file (#463)
  .github/ops-bot.yaml
Labels: none

DOC
  CHANGELOG.md
  docs/source/conf.py
Labels: none

update `ops-bot` config file
  .github/ops-bot.yaml
Labels: none

update `ops-bot` config file (#465)
  .github/ops-bot.yaml
Labels: none

Add option for smaller dataset in IO notebook
  notebooks/api_guide/io_examples.ipynb
Labels: Python

Use correct data file
  notebooks/api_guide/io_examples.ipynb
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

Resolve environment creation for RTL-SDR examples
  notebooks/sdr/rtlsdr_offline_demod_to_transcript.ipynb
Labels: Python

Resolve environment creation for general SDR examples
  notebooks/sdr/sdr_wfm_demod.ipynb
Labels: Python

Add disclaimer for SDR device
  notebooks/sdr/rtlsdr_offline_demod_to_transcript.ipynb
  notebooks/sdr/sdr_wfm_demod.ipynb
Labels: Python

Fix get_pinned_mem to work with multiple dtypes, add tests
  python/cusignal/test/test_arraytools.py
  python/cusignal/utils/arraytools.py
Labels: Python

Fix flake8 errors
  python/cusignal/test/test_arraytools.py
  python/cusignal/utils/arraytools.py
Labels: Python

Update style script to use pre-commit for checks
  ci/checks/style.sh
Labels: none

Prioritize buffer dtype if provided ~in read_bin
  python/cusignal/io/reader.py
Labels: Python

Add some basic IO tests
  python/cusignal/test/io/test_bin.py
  python/cusignal/test/io/test_sigmf.py
Labels: Python

Fix flake8 errors
  python/cusignal/test/io/test_bin.py
  python/cusignal/test/io/test_sigmf.py
Labels: Python

Add/fix installation sections for SDR example notebooks (#476)
  notebooks/sdr/rtlsdr_offline_demod_to_transcript.ipynb
  notebooks/sdr/sdr_wfm_demod.ipynb
Labels: Python

Extend `get_pinned_mem` to work with more dtype / shapes (#477)
  python/cusignal/test/test_arraytools.py
  python/cusignal/utils/arraytools.py
Labels: Python

Fix pinned buffer IO issues (#479)
  python/cusignal/io/reader.py
  python/cusignal/test/io/test_bin.py
  python/cusignal/test/io/test_sigmf.py
Labels: Python

Run hooks on new changes
  python/cusignal/test/io/test_sigmf.py
  python/cusignal/test/test_arraytools.py
Labels: Python

Use conda to build python packages during GPU tests
  ci/gpu/build.sh
  conda/recipes/cusignal/meta.yaml
  python/cusignal/test/__init__.py
  python/cusignal/test/test_acoustics.py
  python/cusignal/test/test_bsplines.py
  python/cusignal/test/test_convolution.py
  python/cusignal/test/test_filter_design.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/test_peak_finding.py
  python/cusignal/test/test_radartools.py
  python/cusignal/test/test_spectral_analysis.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/test/test_windows.py
  python/cusignal/testing/__init__.py
  python/cusignal/testing/utils.py
Labels: Python, conda

Use conda to build python packages during GPU tests (#480)
  ci/gpu/build.sh
  conda/recipes/cusignal/meta.yaml
  python/cusignal/test/__init__.py
  python/cusignal/test/test_acoustics.py
  python/cusignal/test/test_bsplines.py
  python/cusignal/test/test_convolution.py
  python/cusignal/test/test_filter_design.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/test_peak_finding.py
  python/cusignal/test/test_radartools.py
  python/cusignal/test/test_spectral_analysis.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/test/test_windows.py
  python/cusignal/testing/__init__.py
  python/cusignal/testing/utils.py
Labels: Python, conda

Use conda compilers
  conda/recipes/cusignal/conda_build_config.yaml
  conda/recipes/cusignal/meta.yaml
Labels: conda

DOC
  CHANGELOG.md
  docs/source/conf.py
Labels: none

Build packages using mambabuild
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: none

Use conda compilers (#461)
  conda/recipes/cusignal/conda_build_config.yaml
  conda/recipes/cusignal/meta.yaml
Labels: conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cusignal/labels

Python:
  - python/**
  - notebooks/**
  
cpp:
  - cpp/**

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

gpuCI:
  - /ci/**

conda:
  - conda/**
