Repository rapidsai/cusignal, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cpp, CMake, gpuCI, conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cusignal/labels

Python:
  - python/**
  - notebooks/**
  
cpp:
  - cpp/**

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

gpuCI:
  - /ci/**

conda:
  - conda/**

Add sw dependencies for pip packaging
  python/cusignal/__init__.py
  python/setup.cfg
  python/setup.py
Labels: Python

remove use_numba from notebooks - deprecated
  notebooks/api_guide/convolution_examples.ipynb
  notebooks/api_guide/filtering_examples.ipynb
Labels: Python

Adding pypi build scripts to CI
  ci/cpu/build.sh
  ci/cpu/upload-pypi.sh
Labels: none

remove use_numba from notebooks - deprecated (#433)
  notebooks/api_guide/convolution_examples.ipynb
  notebooks/api_guide/filtering_examples.ipynb
Labels: Python

Use PyData Sphinx Theme for Generated Documentation
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  docs/requirement.txt
  docs/source/_static/RAPIDS-logo-purple.png
  docs/source/_static/params.css
  docs/source/conf.py
Labels: conda

Fix GitHub URL to point to rapidsai/cusignal
  docs/source/conf.py
Labels: none

Introduce sphinx-copy-button Plugin
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  docs/requirement.txt
  docs/source/conf.py
Labels: conda

Use PyData Sphinx Theme for Generated Documentation (#436)
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  docs/requirement.txt
  docs/source/_static/RAPIDS-logo-purple.png
  docs/source/_static/params.css
  docs/source/conf.py
Labels: conda

DOC v22.02 Updates
  CHANGELOG.md
  docs/source/conf.py
Labels: none

Add optional covariance matrix to mvdr beamer
  python/cusignal/radartools/beamformers.py
Labels: Python

change API to be more flexible
  python/cusignal/radartools/beamformers.py
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

Bypass Covariance Matrix Calculation if Supplied in MVDR Beamformer (#437)
  python/cusignal/radartools/beamformers.py
Labels: Python

Update documentation-request.md
  .github/ISSUE_TEMPLATE/documentation-request.md
Labels: none

Revamp offline sdr notebook
  notebooks/sdr/sdr_integration.ipynb
Labels: Python

Skip rtlsdr notebook from CI testing
  ci/gpu/test-notebooks.sh
Labels: none

Revamp Offline RTL-SDR Notebook - FM Demod and NeMo Speech to Text (#442)
  ci/gpu/test-notebooks.sh
  notebooks/sdr/sdr_integration.ipynb
Labels: Python

Add FM Demodulation
  docs/source/api.rst
  python/cusignal/__init__.py
  python/cusignal/demod/__init__.py
  python/cusignal/demod/demod.py
Labels: Python

Add check for complex valued data
  python/cusignal/demod/demod.py
Labels: Python

flake8 fix
  python/cusignal/demod/demod.py
Labels: Python

Add FM Demodulation to cuSignal (#443)
  docs/source/api.rst
  python/cusignal/__init__.py
  python/cusignal/demod/__init__.py
  python/cusignal/demod/demod.py
Labels: Python

update changelog
  CHANGELOG.md
Labels: none

Make resample respect input dtype.
  python/cusignal/filtering/resample.py
Labels: Python

Add single-precision hilbert functions.
  python/cusignal/filtering/filtering.py
Labels: Python

fix lfilter_zi return correct dtype
  python/cusignal/filtering/filtering.py
Labels: Python

DOC
  CHANGELOG.md
  docs/source/conf.py
Labels: none

Allow CuPy 10
  conda/recipes/cusignal/meta.yaml
Labels: conda

fix flake8 errors
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
Labels: Python

fix kernel size from tuple in hilbert2
  python/cusignal/filtering/filtering.py
Labels: Python

add dtype support for linspace_data_gen generator
  python/cusignal/test/conftest.py
Labels: Python

add dtype assertions for hilbert and firfilter
  python/cusignal/test/test_filtering.py
Labels: Python

add relaxed tolerances for single-precision arrays
  python/cusignal/test/utils.py
Labels: Python

Allow CuPy 10 (#448)
  conda/recipes/cusignal/meta.yaml
Labels: conda

add typecasting to hilbert and hilbert2 kernels
  python/cusignal/filtering/filtering.py
Labels: Python

fix flake8 errors
  python/cusignal/test/test_filtering.py
Labels: Python

Speedup: Single-precision hilbert, resample, and lfilter_zi. (#447)
  .github/PULL_REQUEST_TEMPLATE.md
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/test/conftest.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/utils.py
Labels: Python

adding complex parameter to chirp and additional tests
  python/cusignal/test/test_waveforms.py
  python/cusignal/waveforms/waveforms.py
Labels: Python

Added back cp.asarray
  python/cusignal/waveforms/waveforms.py
Labels: Python

Fix flake
  python/cusignal/test/test_waveforms.py
Labels: Python

Added phase from complex and turned on complex tests
  python/cusignal/test/test_waveforms.py
  python/cusignal/waveforms/waveforms.py
Labels: Python
