Repository rapidsai/cusignal, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cpp, CMake, gpuCI, conda

Update resample.py
  python/cusignal/filtering/resample.py
Labels: Python

Unpin `numpy` in `cusignal` (#510)
  conda/recipes/cusignal/meta.yaml
  python/cusignal/filtering/resample.py
Labels: Python, conda

REL v22.10.01 release
  docs/source/conf.py
Labels: none

Remove stale issue labeler workflow
  .github/workflows/stale.yaml
Labels: none

Remove stale issue labeler workflow
  .github/workflows/stale.yaml
Labels: none

Remove stale labeler (#512)
  .github/workflows/stale.yaml
Labels: none

WSL: additional dependency needed
  README.md
Labels: none

Revisit WSL install instructions: additional dependency needed for pytest (#514)
  README.md
Labels: none

DOC
  CHANGELOG.md
  docs/source/conf.py
Labels: none

Update channel priority
  README.md
Labels: none

Update build.sh
  ci/benchmark/build.sh
Labels: none

Use rapidsai CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

fix filtering.resample output for even values of num parameter
  python/cusignal/filtering/resample.py
Labels: Python

Flake8 migrated to GitHub and that broke some pre-commit checks
  .pre-commit-config.yaml
Labels: none

Fix flake8 errors
  python/cusignal/filtering/resample.py
Labels: Python

Fix black errors
  python/cusignal/filtering/resample.py
Labels: Python

fix filtering.resample output for even values of num parameter (#517)
  python/cusignal/filtering/resample.py
Labels: Python

Use rapidsai CODE_OF_CONDUCT.md (#516)
  CODE_OF_CONDUCT.md
Labels: none

Update channel priority (#515)
  README.md
  ci/benchmark/build.sh
Labels: none

Add option for smaller dataset in IO notebook (#473)
  notebooks/api_guide/io_examples.ipynb
Labels: Python

Update readme
  README.md
Labels: none

Fix merge conflicts
  README.md
Labels: none

Fix merge conflicts
  README.md
Labels: none

Readme update (#522)
  README.md
Labels: none

Enable copy_prs.
  .github/ops-bot.yaml
Labels: none

Enable copy_prs. (#525)
  .github/ops-bot.yaml
Labels: none

update changelog
  CHANGELOG.md
Labels: none

Standardize conda packaging, remove boost (does not appear to be used).
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/recipes/cusignal/meta.yaml
Labels: conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cusignal/labels

Python:
  - python/**
  - notebooks/**
  
cpp:
  - cpp/**

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

gpuCI:
  - /ci/**

conda:
  - conda/**
