Repository rapidsai/cusignal, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cpp, CMake, gpuCI, conda

Perf Improvements for UPFIRDN (#378)
  cpp/src/filtering/_upfirdn.cu
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/test/test_filtering.py
Labels: Python, cpp

Perf Improvements to SOS Filter (#377)
  cpp/src/filtering/_sosfilt.cu
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/filtering.py
Labels: Python, cpp

Fix complex type bug with correlate
  cpp/src/convolution/_convolution.cu
  python/cusignal/test/test_convolution.py
Labels: Python, cpp

WIP mvdr beamformer
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/beamformers.py
Labels: Python

FIX update-version.sh for CalVer
  ci/release/update-version.sh
Labels: none

FIX update-version.sh for CalVer (#385)
  ci/release/update-version.sh
Labels: none

update changelog
  CHANGELOG.md
Labels: none

fix changelog
  CHANGELOG.md
Labels: none

fix changelog
  CHANGELOG.md
Labels: none

fix changelog (#390)
  CHANGELOG.md
Labels: none

initial commit of ambgfun
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
Labels: Python

fix flake formatting
  python/cusignal/radartools/radartools.py
Labels: Python

elementwise kernel
  python/cusignal/radartools/radartools.py
Labels: Python

fix formatting
  python/cusignal/radartools/radartools.py
Labels: Python

Don't remove imaginary component in shift
  python/cusignal/radartools/radartools.py
Labels: Python

Added parameter descriptions and cast to complex input for x and y
  python/cusignal/radartools/radartools.py
Labels: Python

add more flexibility for different dtypes
  python/cusignal/radartools/radartools.py
Labels: Python

fix flake8
  python/cusignal/radartools/radartools.py
Labels: Python

remove debug access pattern; confirmed accuracy w/ matlab
  python/cusignal/radartools/radartools.py
Labels: Python

fix typo
  python/cusignal/radartools/radartools.py
Labels: Python

remove abs, comment out array resizing
  python/cusignal/radartools/radartools.py
Labels: Python

adding delay cut functionality
  python/cusignal/radartools/radartools.py
Labels: Python

add doppler functionality
  python/cusignal/radartools/radartools.py
Labels: Python

Add Ambiguity Function (ambgfun) (#393)
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
Labels: Python

fix sphinx config
  docs/source/conf.py
Labels: none

Update sphinx config (#395)
  docs/source/conf.py
Labels: none

Fixed imaginary part being removed in delay mode of ambgfun
  python/cusignal/radartools/radartools.py
Labels: Python

fix flake8 formatting
  python/cusignal/radartools/radartools.py
Labels: Python

fix firwin bug where fs is ignored if nyq provided
  python/cusignal/filter_design/fir_filter_design.py
Labels: Python

Fixed imaginary part being removed in delay mode of ambgfun (#397)
  python/cusignal/radartools/radartools.py
Labels: Python

fix firwin bug where fs is ignored if nyq provided (#400)
  python/cusignal/filter_design/fir_filter_design.py
Labels: Python

updating CHANGELOG.md via some new automation
  CHANGELOG.md
Labels: none

Adding MVDR (Capon) Beamformer (#383)
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/beamformers.py
Labels: Python

DOC v21.10 Updates
  CHANGELOG.md
  docs/source/conf.py
Labels: none

ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: none

perf optimizations and addition of elementwise divide kernel
  python/cusignal/radartools/beamformers.py
Labels: Python

fix flake8
  python/cusignal/radartools/beamformers.py
Labels: Python

remove EWK
  python/cusignal/radartools/beamformers.py
Labels: Python

fix typo
  python/cusignal/radartools/beamformers.py
Labels: Python

Remove pytorch from cusignal cicd
  ci/gpu/build.sh
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cusignal/labels

Python:
  - python/**
  - notebooks/**
  
cpp:
  - cpp/**

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

gpuCI:
  - /ci/**

conda:
  - conda/**
