Repository rapidsai/cusignal, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cpp, CMake, gpuCI, conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cudf/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cusignal/labels

Python:
  - python/**
  - notebooks/**
  
cpp:
  - cpp/**

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

gpuCI:
  - /ci/**

conda:
  - conda/**

Simplify conda recipes
  conda/recipes/cusignal/meta.yaml
Labels: conda

Simplify conda recipes (#484)
  conda/recipes/cusignal/meta.yaml
Labels: conda

Build packages using mambabuild (#453)
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: none

Rerun notebook with buffer fixes
  notebooks/api_guide/io_examples.ipynb
Labels: Python

refresh readme
  README.md
Labels: none

Refresh README (#487)
  README.md
Labels: none

add jenkinsfile
  ci/Jenkinsfile
Labels: none

update changelog
  CHANGELOG.md
Labels: none

draft directory organization
  python/cusignal/pytorch/polyphase.py
  python/cusignal/test/test_pytorch_polyphase.py
  python/cusignal/test/test_radartools.py
Labels: Python

Minor refactoring of diff/polyphase
  python/cusignal/diff/polyphase.py
  python/cusignal/test/test_diff.py
Labels: Python

Moving test stubs to their own file
  python/cusignal/diff/polyphase.py
  python/cusignal/test/test_diff.py
Labels: Python

polyphase module passes basic unit tests
  python/cusignal/__init__.py
  python/cusignal/diff/polyphase.py
  python/cusignal/test/test_diff.py
Labels: Python

Forgot to add submodule __init__
  python/cusignal/diff/__init__.py
Labels: Python

Removed cusignal-level import in case someone doesn't have pytorch installed
  python/cusignal/__init__.py
Labels: Python

Streamlining the backward method - goal is to implement with another polyphase_resample call
  python/cusignal/diff/__init__.py
  python/cusignal/diff/polyphase.py
  python/cusignal/test/test_diff.py
Labels: Python

Fixed a redundancy
  python/cusignal/diff/polyphase.py
Labels: Python

Continuing to remove code cruft
  python/cusignal/diff/polyphase.py
Labels: Python

Skip diff tests if pytorch unavailable
  python/cusignal/diff/__init__.py
  python/cusignal/diff/resample.py
  python/cusignal/test/test_diff.py
Labels: Python

resample.py passes pycodestyle checks
  python/cusignal/diff/polyphase.py
  python/cusignal/diff/resample.py
Labels: Python

Added backprop example to tests and class method for computing output size
  python/cusignal/diff/resample.py
  python/cusignal/test/test_diff.py
Labels: Python

enforced pycodestyle on test_diff
  python/cusignal/test/test_diff.py
Labels: Python

Removed commented lines
  python/cusignal/test/test_diff.py
Labels: Python

Enforced flake8 style checks
  python/cusignal/diff/resample.py
  python/cusignal/test/test_diff.py
Labels: Python

Adding diff function from top-level cusignal module -- at least I think -- and throw warning if PyTorch isn't installed on cusignal import
  python/cusignal/__init__.py
Labels: Python

moving where we catch pytorch import
  python/cusignal/__init__.py
  python/cusignal/diff/__init__.py
Labels: Python

DOC
  CHANGELOG.md
  docs/source/conf.py
Labels: none

Allow CuPy 11
  conda/recipes/cusignal/meta.yaml
Labels: conda

Allow CuPy 11 (#494)
  conda/recipes/cusignal/meta.yaml
Labels: conda

revert cupy 11
  conda/recipes/cusignal/meta.yaml
Labels: conda

Revert "Allow CuPy 11" (#497)
  conda/recipes/cusignal/meta.yaml
Labels: conda

use common js & css
  docs/source/_static/params.css
  docs/source/conf.py
Labels: none

Switch to using common `js` & `css` (#499)
  docs/source/_static/params.css
  docs/source/conf.py
Labels: none

Numba needs numpy 1.22 or less
  conda/recipes/cusignal/meta.yaml
Labels: conda

Numba needs numpy 1.22 or less (#502)
  conda/recipes/cusignal/meta.yaml
Labels: conda

update changelog
  CHANGELOG.md
Labels: none

allow cupy 11
  conda/recipes/cusignal/meta.yaml
Labels: conda

Allow cupy 11 (#505)
  conda/recipes/cusignal/meta.yaml
Labels: conda

DOC
  CHANGELOG.md
  docs/source/conf.py
Labels: none

update changelog
  CHANGELOG.md
Labels: none

Update meta.yaml
  conda/recipes/cusignal/meta.yaml
Labels: conda
