Repository rapidsai/cusignal, pull requests merged in 2020-09, with the labels that each got.

#161 [REVIEW] Implement basic polyphase channelizer
  CHANGELOG.md
  build.sh
  cpp/src/filtering/_channelizer.cu
  cpp/src/filtering/_sosfilt.cu
  python/cusignal/__init__.py
  python/cusignal/filtering/__init__.py
  python/cusignal/filtering/_channelizer.fatbin
  python/cusignal/filtering/_channelizer_cuda.py
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review, 5 - Ready to Merge

#203 [REVIEW] Update build process
  CHANGELOG.md
  python/cusignal/convolution/_convolution.fatbin
  python/cusignal/filtering/_sosfilt.fatbin
  python/cusignal/filtering/_upfirdn.fatbin
  python/cusignal/io/_reader.fatbin
  python/cusignal/io/_writer.fatbin
  python/cusignal/spectral_analysis/_spectral.fatbin
  python/cusignal/test/conftest.py
  python/cusignal/utils/helper_tools.py
Labels: 3 - Ready for Review, 5 - Ready to Merge

#202 [REVIEW] Improve lombscargle performance
  CHANGELOG.md
  cpp/src/spectral_analysis/_spectral.cu
  python/cusignal/spectral_analysis/_spectral.fatbin
Labels: 3 - Ready for Review, 4 - Waiting on Author

#200 [REVIEW] Add c++17 if constexpr to reader.cu
  CHANGELOG.md
  build.sh
  cpp/src/io/_reader.cu
  python/cusignal/filtering/_channelizer.fatbin
  python/cusignal/spectral_analysis/_spectral.fatbin
Labels: 3 - Ready for Review, 4 - Waiting on Author

#207 [REVIEW] Added CUDA 10.X channelizer
  CHANGELOG.md
  cpp/src/filtering/_channelizer.cu
Labels: 3 - Ready for Review

#208 [REVIEW] CuPy 7.x to Kalman filter functionality
  CHANGELOG.md
  python/cusignal/estimation/_filters_cuda.py
  python/cusignal/estimation/filters.py
Labels: 3 - Ready for Review

#210 [REVIEW] Add notebook to demonstrate 'scope' functionality with cusignal's shared_mem
  CHANGELOG.md
  notebooks/visualization/scope.ipynb
Labels: 3 - Ready for Review

#199 [REVIEW] Added Ampere support
  CHANGELOG.md
  build.sh
  python/cusignal/convolution/_convolution.fatbin
  python/cusignal/filtering/_sosfilt.fatbin
  python/cusignal/filtering/_upfirdn.fatbin
  python/cusignal/io/_reader.fatbin
  python/cusignal/io/_writer.fatbin
Labels: 3 - Ready for Review

#211 [REVIEW] Rename channelize_poly_gpu to channelize_poly and remove CPU only version; Update documentation
  CHANGELOG.md
  docs/source/api.rst
  python/cusignal/__init__.py
  python/cusignal/filtering/__init__.py
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review

#213 [REVIEW] Raise NotImplementedError in `channelize_poly` if filter tap length is over 32
  CHANGELOG.md
  python/cusignal/filtering/_channelizer_cuda.py
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review

#214 [REVIEW] Fix bug in channelizer
  CHANGELOG.md
  cpp/src/filtering/_channelizer.cu
  python/cusignal/filtering/_channelizer_cuda.py
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review

#215 [REVIEW] Fix formatting in Docs build
  CHANGELOG.md
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review

#212 [REVIEW] Add KF to docs
  CHANGELOG.md
  docs/source/api.rst
Labels: 3 - Ready for Review

#218 Remove fatbins from source
  CHANGELOG.md
  python/cusignal/convolution/_convolution.fatbin
  python/cusignal/filtering/_sosfilt.fatbin
  python/cusignal/filtering/_upfirdn.fatbin
  python/cusignal/io/_reader.fatbin
  python/cusignal/io/_writer.fatbin
Labels: 3 - Ready for Review

#216 [skip-ci] [REVIEW] Update README.md - (Benchmarking/Install)
  README.md
Labels: 3 - Ready for Review

#221 [REVIEW] Synchronization issue with cusignal testing
  CHANGELOG.md
  python/cusignal/test/conftest.py
  python/cusignal/test/test_convolution.py
  python/cusignal/test/test_filter_design.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/test_spectral_analysis.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/test/test_windows.py
Labels: 3 - Ready for Review

#222 [REVIEW] Improve Window functions performance
  CHANGELOG.md
  python/cusignal/test/test_windows.py
  python/cusignal/windows/__init__.py
  python/cusignal/windows/windows.py
Labels: 3 - Ready for Review

#235 [REVIEW] Improve Wavelets functions performance
  CHANGELOG.md
  python/cusignal/convolution/convolution_utils.py
  python/cusignal/convolution/convolve.py
  python/cusignal/test/conftest.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/utils/fftpack_helper.py
  python/cusignal/wavelets/__init__.py
  python/cusignal/wavelets/wavelets.py
Labels: 3 - Ready for Review

#239 [Review] Clipping fix for Peak Finding module
  CHANGELOG.md
  python/cusignal/peak_finding/peak_finding.py
  python/cusignal/test/test_peak_finding.py
Labels: 3 - Ready for Review

#243 [REVIEW] Improve Peak Finding function performance
  CHANGELOG.md
  build.sh
  cpp/src/peak_finding/_peak_finding.cu
  python/cusignal/peak_finding/__init__.py
  python/cusignal/peak_finding/_peak_finding_cuda.py
  python/cusignal/peak_finding/peak_finding.py
  python/cusignal/test/test_peak_finding.py
Labels: 3 - Ready for Review

#246 [REVIEW] Remove lfiltic function
  CHANGELOG.md
  python/cusignal/__init__.py
  python/cusignal/filtering/__init__.py
  python/cusignal/filtering/filtering.py
  python/cusignal/test/test_filtering.py
Labels: 3 - Ready for Review

#245 [REVIEW] Reduce number of build archs
  CHANGELOG.md
  README.md
  build.sh
  conda/recipes/cusignal/build.sh
Labels: 3 - Ready for Review

#248 [REVIEW] Fix channelizer bugs
  CHANGELOG.md
  cpp/src/filtering/_channelizer.cu
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review
