Repository rapidsai/cusignal, pull requests merged in 2020-06, with the labels that each got.

#116 [REVIEW] Fix stream usage for all functions
  CHANGELOG.md
  python/cusignal/convolution/_convolution_cuda.py
  python/cusignal/convolution/convolve.py
  python/cusignal/convolution/correlate.py
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/_spectral_cuda.py
  python/cusignal/spectral_analysis/spectral.py
Labels: 3 - Ready for Review

#126 [REVIEW] Install dependencies via meta package
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#127 [REVIEW] Fix doc formatting for selected functions
  CHANGELOG.md
  python/cusignal/acoustics/cepstrum.py
  python/cusignal/convolution/convolve.py
  python/cusignal/convolution/correlate.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/spectral.py
Labels: 3 - Ready for Review

#124 [PR-REVIEW] Remove cp_stream and autosync
  CHANGELOG.md
  python/cusignal/convolution/_convolution_cuda.py
  python/cusignal/convolution/convolve.py
  python/cusignal/convolution/correlate.py
  python/cusignal/filtering/_lfilter_cuda.py
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/_spectral_cuda.py
  python/cusignal/spectral_analysis/spectral.py
Labels: 3 - Ready for Review, bug

#133 [REVIEW] Add IO module to cusignal docs
  CHANGELOG.md
  docs/source/api.rst
Labels: 3 - Ready for Review

#113 [REVIEW] Add git commit to conda package
  CHANGELOG.md
  ci/cpu/build.sh
  conda/recipes/cusignal/meta.yaml
Labels: 0 - Blocked, 5 - Ready to Merge

#136 [REVIEW] Separate binary writer/pack and sigfm_writer from reader.py
  CHANGELOG.md
  docs/source/api.rst
  python/cusignal/__init__.py
  python/cusignal/io/__init__.py
  python/cusignal/io/_reader_cuda.py
  python/cusignal/io/_writer_cuda.py
  python/cusignal/io/reader.py
  python/cusignal/io/writer.py
  python/cusignal/utils/compile_kernels.py
Labels: 3 - Ready for Review

#138 [PR-REVIEW] Fix overflow issues in upfirdn
  CHANGELOG.md
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/test/test_signaltools.py
Labels: 3 - Ready for Review

#132 [REVIEW] Add Jupyter Notebook to Show I/O Usage
  CHANGELOG.md
  notebooks/api_guide/io_examples.ipynb
Labels: 3 - Ready for Review

#139 [REVIEW] Packages cusginal properly
  CHANGELOG.md
  conda/recipes/cusignal/build.sh
  conda/recipes/cusignal/meta.yaml
Labels: 3 - Ready for Review
