Repository rapidsai/cusignal, pull requests merged in 2020-07, with the labels that each got.

#143 [REVIEW] Fix missing six package on cusignal import
  CHANGELOG.md
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  conda/recipes/cusignal/meta.yaml
Labels: 3 - Ready for Review

#146 [PR-REVIEW] Remove string_types dependency
  CHANGELOG.md
  python/cusignal/spectral_analysis/spectral.py
  python/cusignal/windows/windows.py
Labels: 3 - Ready for Review

#144 [REVIEW] Added AIR-T conda recipe so that cuSignal officially support the AIR_T
  CHANGELOG.md
  conda/environments/cusignal_airt.yml
Labels: 4 - Needs Reviewer

#152 [REVIEW] Fix bug in detrend calculation due to NotImplementedError with array slicing in cupy's r_ functionality
  CHANGELOG.md
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review

#69 [PR-WIP] Implement multi-point KF
  CHANGELOG.md
  kalman_test_script.py
  python/cusignal/__init__.py
  python/cusignal/benchmark/bench_filters.py
  python/cusignal/estimation/__init__.py
  python/cusignal/estimation/_filters.py
  python/cusignal/estimation/filters.py
  python/cusignal/test/test_filters.py
Labels: 3 - Ready for Review

#157 [PR-REVIEW] Update kalman docs
  CHANGELOG.md
  kalman_test_script.py
  python/cusignal/estimation/filters.py
Labels: 3 - Ready for Review

#158 [PR-REVIEW] Add debugging environment variable
  CHANGELOG.md
  python/cusignal/convolution/_convolution_cuda.py
  python/cusignal/estimation/filters.py
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/io/_reader_cuda.py
  python/cusignal/io/_writer_cuda.py
  python/cusignal/spectral_analysis/_spectral_cuda.py
  python/cusignal/utils/arraytools.py
  python/cusignal/utils/debugtools.py
Labels: 3 - Ready for Review

#160 [PR-REVIEW] Add functionality to KF
  CHANGELOG.md
  kalman_test_script.py
  python/cusignal/estimation/_filters_cuda.py
  python/cusignal/estimation/filters.py
Labels: 3 - Ready for Review

#162 fix typo in example plotting code
  CHANGELOG.md
  python/cusignal/convolution/convolve.py
Labels: 5 - Ready to Merge

#164 [REVIEW] fix typos in example code in docs
  CHANGELOG.md
  python/cusignal/convolution/convolve.py
  python/cusignal/convolution/correlate.py
  python/cusignal/filter_design/fir_filter_design.py
  python/cusignal/filtering/resample.py
  python/cusignal/peak_finding/peak_finding.py
  python/cusignal/windows/windows.py
Labels: 5 - Ready to Merge

#150 [PR-REVIEW] Fix upfirdn output len based on SciPy 1.5.0; Force SciPy >= 1.5 for cuSignal
  CHANGELOG.md
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  conda/recipes/cusignal/meta.yaml
  python/cusignal/convolution/correlate.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/resample.py
  python/cusignal/test/test_convolution.py
  python/cusignal/test/test_filter_design.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/test_spectral_analysis.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/test/test_windows.py
  python/cusignal/windows/windows.py
Labels: 3 - Ready for Review

#165 [PR-REVIEW] Fix KF version check bug
  CHANGELOG.md
  python/cusignal/estimation/filters.py
  python/cusignal/windows/windows.py
Labels: 3 - Ready for Review

#101 [REVIEW] Add notebook testing to CI
  CHANGELOG.md
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/utils/nbtest.sh
  ci/utils/nbtestlog2junitxml.py
  notebooks/api_guide/io_examples.ipynb
  notebooks/sdr/online_signal_processing_tools.ipynb
Labels: 4 - Needs Reviewer
