Repository rapidsai/cusignal, pull requests merged in 2020-05, with the labels that each got.

#82 [REVIEW] Autosync functionality
  CHANGELOG.md
  python/cusignal/_lfilter.py
  python/cusignal/_signaltools.py
  python/cusignal/_spectral.py
  python/cusignal/_upfirdn.py
  python/cusignal/convolution/__init__.py
  python/cusignal/convolution/convolve.py
  python/cusignal/convolution/correlate.py
  python/cusignal/filtering/__init__.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/__init__.py
  python/cusignal/spectral_analysis/spectral.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#87 [REVIEW] Add clarifying documentation for lfilter perf
  CHANGELOG.md
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review

#83 [REVIEW] Code Refactor
  CHANGELOG.md
  python/cusignal/__init__.py
  python/cusignal/_lfilter.py
  python/cusignal/convolution/_convolution_cuda.py
  python/cusignal/convolution/convolution_utils.py
  python/cusignal/convolution/convolve.py
  python/cusignal/convolution/correlate.py
  python/cusignal/filtering/_lfilter_cuda.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/_spectral_cuda.py
  python/cusignal/spectral_analysis/spectral.py
  python/cusignal/utils/_caches.py
  python/cusignal/utils/compile_kernels.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#95 [REVIEW] Add git attributes to remove notebooks from stats
  .gitattributes
  CHANGELOG.md
Labels: 3 - Ready for Review

#89 [REVIEW] Update test to use pytest-fixtures
  CHANGELOG.md
  python/cusignal/benchmark/bench_signaltools.py
  python/cusignal/benchmark/bench_spectral.py
  python/cusignal/benchmark/bench_waveforms.py
  python/cusignal/benchmark/bench_wavelets.py
  python/cusignal/benchmark/bench_windows.py
  python/cusignal/conftest.py
  python/cusignal/test/test_signaltools.py
  python/cusignal/test/test_spectral.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/test/test_windows.py
  python/pytest.ini
  python/setup.cfg
Labels: 3 - Ready for Review

#93 [REVIEW] Depreciate single threaded lfilter due to poor performance
  CHANGELOG.md
  python/cusignal/__init__.py
  python/cusignal/benchmark/bench_signaltools.py
  python/cusignal/filtering/__init__.py
  python/cusignal/filtering/_lfilter_cuda.py
  python/cusignal/filtering/filtering.py
  python/cusignal/test/test_signaltools.py
  python/cusignal/utils/compile_kernels.py
Labels: 5 - Ready to Merge

#96 [REVIEW] Fix code refactor bug
  CHANGELOG.md
  python/cusignal/utils/compile_kernels.py
Labels: 3 - Ready for Review

#98 [skip-ci] [REVIEW] Update cuSignal README
  CHANGELOG.md
  README.md
Labels: 3 - Ready for Review

#84 [REVIEW] Update cuSignal to Numba >= 0.49 and update preferred versioning in conda environments
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  conda/recipes/cusignal/meta.yaml
Labels: 3 - Ready for Review, 5 - Ready to Merge

#97 [REVIEW] Add pytest-benchmark to Conda environment files and clarify dev naming
  CHANGELOG.md
  README.md
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
Labels: 3 - Ready for Review

#103 [REVIEW] Reorganize Jupyter notebooks to match code reorg
  CHANGELOG.md
  notebooks/api_guide/convolution_examples.ipynb
  notebooks/api_guide/filter_design_examples.ipynb
  notebooks/api_guide/filtering_examples.ipynb
  notebooks/api_guide/signaltools_examples.ipynb
Labels: 3 - Ready for Review
