Repository rapidsai/cusignal, pull requests merged in 2020-12, with the labels that each got.

#283 Gpuciscripts clean and update
  CHANGELOG.md
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/README.md
  ci/release/update-version.sh
Labels: 3 - Ready for Review, Improvement, feature request, gpuCI, non-breaking

#280 [REVIEW] Fixing issue when reading sigmf data from parent folder
  CHANGELOG.md
  python/cusignal/io/reader.py
Labels: improvement, non-breaking

#298 Fix Branch 0.18 merge 0.17
  CHANGELOG.md
Labels: 5 - Ready to Merge, bug, non-breaking

#294 [gpuCI] Auto-merge branch-0.17 to branch-0.18 [skip ci]
  CHANGELOG.md
Labels: 5 - Ready to Merge, improvement, non-breaking

#296 Bump cuSignal Version
  CHANGELOG.md
  README.md
Labels: 5 - Ready to Merge, improvement, non-breaking
