Repository rapidsai/cusignal, pull requests merged in 2020-04, with the labels that each got.

#46 [REVIEW] Branch 0.14 merge 0.13
  CHANGELOG.md
Labels: 3 - Ready for Review

#42 [gpuCI] Auto-merge branch-0.13 to branch-0.14 [skip ci]
  CHANGELOG.md
Labels: 3 - Ready for Review

#45 [REVIEW] Refactor _signaltools.py to new Numba/CuPy framework.
  CHANGELOG.md
  python/cusignal/_signaltools.py
Labels: 3 - Ready for Review

#43 [REVIEW] Add pytest-benchmark to cuSignal library
  CHANGELOG.md
  ci/gpu/build.sh
  python/cusignal/benchmark/__init__.py
  python/cusignal/benchmark/bench_signaltools.py
  python/cusignal/benchmark/bench_spectral.py
  python/cusignal/benchmark/bench_waveforms.py
  python/cusignal/benchmark/bench_wavelets.py
  python/cusignal/benchmark/bench_windows.py
  python/cusignal/benchmark/conftest.py
  python/pytest.ini
Labels: 2 - In Progress, 3 - Ready for Review

#48 [REVIEW] Addition of decimation for FIR ftypes
  CHANGELOG.md
  python/cusignal/__init__.py
  python/cusignal/signaltools.py
  python/cusignal/test/test_signaltools.py
Labels: 4 - Needs Reviewer

#55 [REVIEW] Update API Guide Notebooks
  CHANGELOG.md
  notebooks/api_guide/acoustics_examples.ipynb
  notebooks/api_guide/bspline_examples.ipynb
  notebooks/api_guide/peak_finding_examples.ipynb
  notebooks/api_guide/signaltools_examples.ipynb
  notebooks/api_guide/spectral_examples.ipynb
  notebooks/api_guide/waveform_examples.ipynb
  notebooks/api_guide/wavelets_examples.ipynb
  notebooks/api_guide/windows_examples.ipynb
Labels: 4 - Needs Reviewer

#53 [REVIEW] Use Numba 0.49+ API where required
  CHANGELOG.md
  python/cusignal/_signaltools.py
  python/cusignal/_upfirdn.py
Labels: 5 - Ready to Merge

#56 [REVIEW] Remove compile penalty during import
  CHANGELOG.md
  python/cusignal/_signaltools.py
  python/cusignal/_spectral.py
  python/cusignal/_upfirdn.py
  python/cusignal/benchmark/bench_signaltools.py
  python/cusignal/signaltools.py
  python/cusignal/test/test_signaltools.py
Labels: 5 - Ready to Merge

#65 [REVIEW] Added warning for Numba kernel deprecation
  CHANGELOG.md
  python/cusignal/_signaltools.py
  python/cusignal/_spectral.py
  python/cusignal/_upfirdn.py
Labels: 3 - Ready for Review

#66 [REVIEW] Add CuPy raw kernel for upfirdn 2d
  CHANGELOG.md
  python/cusignal/_upfirdn.py
  python/cusignal/benchmark/bench_signaltools.py
  python/cusignal/test/test_signaltools.py
Labels: 3 - Ready for Review

#61 [REVIEW] Fix dead link in README
  CHANGELOG.md
  README.md
Labels: 3 - Ready for Review

#71 [skip-ci] README Update - Add Blogs, Fix Conda Install Docs, and Fix Spelling Mistakes
  CHANGELOG.md
  README.md
Labels: doc
