Repository rapidsai/cusignal, pull requests merged in 2020-03, with the labels that each got.

#27 [REVIEW] Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: 3 - Ready for Review

#22 [REVIEW] Addition of Real and Complex Cepstrum for Acoustics Workloads
  CHANGELOG.md
  notebooks/api_guide/acoustics_examples.ipynb
  python/cusignal/__init__.py
  python/cusignal/acoustics.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#25 [REVIEW] Implementation of Raw CuPy Module for upfirdn
  CHANGELOG.md
  notebooks/api_guide/signaltools_examples.ipynb
  python/cusignal/_upfirdn.py
  python/cusignal/signaltools.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#26 [REVIEW] Cache raw CuPy kernels in upfirdn
  CHANGELOG.md
  python/cusignal/_upfirdn.py
  python/cusignal/test/test_signaltools.py
Labels: 5 - Ready to Merge

#30 [REVIEW] Adding license header to acoustics.py
  CHANGELOG.md
  python/cusignal/acoustics.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#28 [REVIEW] upfirdn/resample_poly documentation update and code cleanup
  CHANGELOG.md
  python/cusignal/_upfirdn.py
  python/cusignal/signaltools.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#33 [REVIEW] Remove conda test phase
  CHANGELOG.md
  conda/recipes/cusignal/meta.yaml
Labels: 3 - Ready for Review

#32 [REVIEW] Fix multiple issues with resample_poly's prototype filter
  CHANGELOG.md
  python/cusignal/_signaltools.py
  python/cusignal/signaltools.py
Labels: 5 - Ready to Merge

#36 Disable Numba CUDA backend in upfirdn/resample_poly by default and update associated docs
  CHANGELOG.md
  README.md
  python/cusignal/_upfirdn.py
  python/cusignal/signaltools.py
Labels: 4 - Needs Reviewer
