Repository rapidsai/cusignal, pull requests merged in 2020-11, with the labels that each got.

#275 [REVIEW] ENH Improve gpuCI scripts
  CHANGELOG.md
  ci/cpu/build.sh
  ci/cpu/upload-anaconda.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#281 Update conda upload script
  CHANGELOG.md
  ci/cpu/upload.sh
Labels: 3 - Ready for Review, bug

#282 [skip-ci] [DOC] Update readme to reflect new version numbers
  CHANGELOG.md
  README.md
Labels: doc

#270 [REVIEW] Implemented convolve1d{2/3}o 'valid', needed={tests,benchmarks,optimizations}
  CHANGELOG.md
  cpp/src/convolution/_convolution.cu
  python/cusignal/__init__.py
  python/cusignal/convolution/__init__.py
  python/cusignal/convolution/_convolution_cuda.py
  python/cusignal/convolution/convolve.py
Labels: 6 - Okay to Merge, Improvement

#274 [REVIEW] Add nightly benchmarks [skip-ci-changelog]
  CHANGELOG.md
  benchmarks/__init__.py
  build.sh
  ci/benchmark/build.sh
Labels: 6 - Okay to Merge, feature request
