Repository rapidsai/cusignal, pull requests merged in 2021-10, with the labels that each got.

#426 Doc fix for FIR Filters
  docs/source/api.rst
  python/cusignal/filtering/resample.py
Labels: doc, non-breaking, Python

#427 [RELEASE] cusignal v21.10
  CHANGELOG.md
  CITATION.cff
  README.md
  ci/benchmark/build.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/build.sh
  ci/utils/nbtest.sh
  docs/source/conf.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
  python/cusignal/test/test_radartools.py
Labels: Python

#428 [Improvement] Allow complex wavelet output for morlet2
  python/cusignal/wavelets/wavelets.py
Labels: improvement, non-breaking, Python

#429 [Review] Data type conversion for cwt.
  python/cusignal/wavelets/wavelets.py
Labels: bug, non-breaking, Python
