Repository rapidsai/cusignal, pull requests merged in 2021-04, with the labels that each got.

#343 Add cusignal source dockerfile
  docker/Dockerfile
Labels: 3 - Ready for Review, improvement, non-breaking

#347 Fixed comment
  cpp/src/filtering/_sosfilt.cu
Labels: 3 - Ready for Review, cpp, doc, non-breaking

#346 Add sawtooth
  python/cusignal/__init__.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/waveforms/__init__.py
  python/cusignal/waveforms/waveforms.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#348 [RELEASE] cusignal v0.19
  CHANGELOG.md
  ci/gpu/test-notebooks.sh
  conda/recipes/cusignal/meta.yaml
  cpp/src/filtering/_upfirdn.cu
  docker/Dockerfile
  docs/source/conf.py
  python/cusignal/__init__.py
  python/cusignal/convolution/_convolution_cuda.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/resample.py
  python/cusignal/io/reader.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/test/test_windows.py
  python/cusignal/utils/helper_tools.py
  python/cusignal/waveforms/waveforms.py
  python/cusignal/wavelets/__init__.py
  python/cusignal/wavelets/wavelets.py
  python/cusignal/windows/__init__.py
  python/cusignal/windows/windows.py
Labels: Python, conda, cpp

#354 Remove orphaned kalman filter code that supported cupy 7; run notebook for correctness
  notebooks/api_guide/estimation_examples.ipynb
  python/cusignal/estimation/_filters_cuda.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#360 Remove conda & pip installs from doc script
  ci/docs/build.sh
Labels: improvement, non-breaking

#359 Allow CuPy 9 to be used with cuSignal
  conda/recipes/cusignal/meta.yaml
Labels: conda, feature request, non-breaking

#357 Update README and bump CUDA to max 11.2 from 10.2 in Conda environments
  README.md
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
Labels: 3 - Ready for Review, conda, doc, non-breaking

#361 ENH Remove defaults channel from conda build
  ci/benchmark/build.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#362 Speedup build for multi-arch compile
  build.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#364 ENH Remove conda defaults channel in dev environments
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
Labels: conda, improvement, non-breaking
