Repository rapidsai/cusignal, pull requests merged in 2021-02, with the labels that each got.

#314 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#313 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
Labels: Ops, improvement, non-breaking

#316 Fix merge conflicts in #315
  .github/labeler.yml
  CHANGELOG.md
Labels: Ops, improvement, non-breaking

#315 [gpuCI] Auto-merge branch-0.18 to branch-0.19 [skip ci]
  .github/labeler.yml
  CHANGELOG.md
Labels: Ops

#319 Add GHA to mark issues/prs as stale/rotten [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#321 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#323 Add WSL instructions for cuSignal Windows Builds
  README.md
Labels: 3 - Ready for Review, doc, non-breaking

#330 [skip-ci] Update 0.18 changelog entry
  CHANGELOG.md
Labels: improvement, non-breaking
