Repository rapidsai/cusignal, pull requests merged in 2021-08, with the labels that each got.

#407 [RELEASE] cusignal v21.08
  CHANGELOG.md
  ci/gpu/build.sh
  docs/source/conf.py
  python/cusignal/__init__.py
  python/cusignal/filter_design/fir_filter_design.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/beamformers.py
  python/cusignal/radartools/radartools.py
Labels: Python

#409 Adding CFAR
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
  python/cusignal/test/test_radartools.py
Labels: improvement, non-breaking, Python

#411 README overhaul
  README.md
Labels: 3 - Ready for Review, doc, non-breaking

#412 Add citation file
  CITATION.cff
Labels: 3 - Ready for Review, doc, non-breaking

#413 Fix typo in readme
  README.md
Labels: doc, non-breaking

#349 support space in workspace
  CHANGELOG.md
  ci/benchmark/build.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/build.sh
  ci/utils/nbtest.sh
Labels: 2 - In Progress, improvement, non-breaking, Ops, inactive-30d

#415 Change type check to use isinstance instead of str compare
  python/cusignal/filtering/_upfirdn_cuda.py
Labels: bug, non-breaking, Python

#417 Fix Forward-Merge Conflicts [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking
