Repository rapidsai/cusignal, pull requests merged in 2021-06, with the labels that each got.

#385 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: improvement, non-breaking

#384 [RELEASE] cusignal v21.06
  .gitignore
  CHANGELOG.md
  README.md
  build.sh
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/release/update-version.sh
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  conda/recipes/cusignal/meta.yaml
  cpp/src/filtering/_sosfilt.cu
  cpp/src/filtering/_upfirdn.cu
  docs/source/conf.py
  notebooks/api_guide/estimation_examples.ipynb
  python/cusignal/__init__.py
  python/cusignal/estimation/_filters_cuda.py
  python/cusignal/filter_design/__init__.py
  python/cusignal/filter_design/fir_filter_design.py
  python/cusignal/filtering/__init__.py
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/__init__.py
  python/cusignal/spectral_analysis/spectral.py
  python/cusignal/test/test_filter_design.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/test_spectral_analysis.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/waveforms/__init__.py
  python/cusignal/waveforms/waveforms.py
Labels: Python, conda, cpp

#390 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#392 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
Labels: improvement, non-breaking

#393 Add Ambiguity Function (ambgfun)
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
Labels: 5 - Ready to Merge, Python, improvement, non-breaking

#395 Update sphinx config [skip ci]
  docs/source/conf.py
Labels: improvement, non-breaking

#397 Fixed imaginary part being removed in delay mode of ambgfun
  python/cusignal/radartools/radartools.py
Labels: 5 - Ready to Merge, Python, bug, non-breaking

#400 fix firwin bug where fs is ignored if nyq provided
  python/cusignal/filter_design/fir_filter_design.py
Labels: Python, bug, non-breaking
