Repository rapidsai/cusignal, pull requests merged in 2021-01, with the labels that each got.

#301 Fix labeler.yml GitHub Action [skip-ci]
  .github/labeler.yml
Labels: bug, non-breaking

#305 [DOC] Update README to optimize CuPy build time on Jetson
  README.md
Labels: doc, non-breaking

#306 [DOC] Specify CuPy install time on Jetson Platform
  README.md
Labels: doc, non-breaking

#300 [REVIEW] Include scaffolding for new radar/phased array module and add new pulse compression feature
  notebooks/api_guide/radar_examples.ipynb
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
Labels: 6 - Okay to Auto-Merge, Python, feature request, non-breaking

#307 [REVIEW] Add Pulse-Doppler Processing to radartools
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/radartools.py
Labels: 6 - Okay to Auto-Merge, Python, improvement, non-breaking

#309 Update cuSignal Documentation to Include Radar Functions
  docs/source/api.rst
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#310 Fix typo in convolution jupyter notebook example
  notebooks/api_guide/convolution_examples.ipynb
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#311 Fix Radar API Docs
  docs/source/api.rst
Labels: 5 - Ready to Merge, doc, non-breaking
