Repository rapidsai/cusignal, pull requests merged in 2021-03, with the labels that each got.

#331 Prepare Changelog for Automation [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#328 Increment Max CuPy Version in CI
  conda/recipes/cusignal/meta.yaml
Labels: 5 - Ready to Merge, conda, feature request, non-breaking

#332 Remove six dependency
  python/cusignal/waveforms/waveforms.py
Labels: 5 - Ready to Merge, Python, improvement, non-breaking

#333 Fix bug in bin_reader that ignored dtype
  python/cusignal/io/reader.py
Labels: 3 - Ready for Review, 5 - Ready to Merge, Python, improvement, non-breaking

#334 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#337 Skip online signal processing tools testing
  ci/gpu/test-notebooks.sh
Labels: 4 - Needs Reviewer, 5 - Ready to Merge, improvement, non-breaking

#335 Add 2D grid-stride loop to fix BUG 295
  cpp/src/filtering/_upfirdn.cu
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/resample.py
  python/cusignal/test/test_filtering.py
  python/cusignal/utils/helper_tools.py
Labels: 5 - Ready to Merge, Python, cpp, improvement, non-breaking

#336 Add morlet2
  python/cusignal/__init__.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/wavelets/__init__.py
  python/cusignal/wavelets/wavelets.py
Labels: 5 - Ready to Merge, Python, feature request, non-breaking

#339 Update min scipy and cupy versions
  conda/recipes/cusignal/meta.yaml
Labels: 4 - Needs Reviewer, 5 - Ready to Merge, conda, improvement, non-breaking

#340 Fix bug in casting array to cupy
  python/cusignal/convolution/_convolution_cuda.py
Labels: 5 - Ready to Merge, Python, bug, non-breaking

#338 Add Taylor window
  python/cusignal/__init__.py
  python/cusignal/test/test_windows.py
  python/cusignal/windows/__init__.py
  python/cusignal/windows/windows.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking
