Repository rapidsai/cusignal, pull requests merged in 2021-07, with the labels that each got.

#383 [WIP] Adding MVDR (Capon) Beamformer
  python/cusignal/__init__.py
  python/cusignal/radartools/__init__.py
  python/cusignal/radartools/beamformers.py
Labels: 2 - In Progress, Python, improvement, non-breaking

#404 Remove pytorch from cusignal CI/CD
  ci/gpu/build.sh
Labels: 3 - Ready for Review, bug, non-breaking

#403 mvdr perf optimizations and addition of elementwise divide kernel
  python/cusignal/radartools/beamformers.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#406 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  python/cusignal/radartools/beamformers.py
Labels: Python
