Repository rapidsai/cusignal, pull requests merged in 2021-11, with the labels that each got.

#436 [REVIEW] Use PyData Sphinx Theme for Generated Documentation
  conda/environments/cusignal_airt.yml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/environments/cusignal_jetson_base.yml
  docs/requirement.txt
  docs/source/_static/RAPIDS-logo-purple.png
  docs/source/_static/params.css
  docs/source/conf.py
Labels: doc, conda, non-breaking

#439 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: improvement, non-breaking

#437 Bypass Covariance Matrix Calculation if Supplied in MVDR Beamformer
  python/cusignal/radartools/beamformers.py
Labels: improvement, non-breaking, Python
