Repository rapidsai/cusignal, pull requests merged in 2021-05, with the labels that each got.

#363 Add ISTFT
  python/cusignal/__init__.py
  python/cusignal/spectral_analysis/__init__.py
  python/cusignal/spectral_analysis/spectral.py
  python/cusignal/test/test_spectral_analysis.py
Labels: 5 - Ready to Merge, Python, feature request, non-breaking

#365 ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: improvement, non-breaking

#366 ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: improvement, non-breaking

#367 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: improvement, non-breaking

#369 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: improvement, non-breaking

#370 Update `CHANGELOG.md` [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#372 Merge `branch-0.19` into `branch-21.06` [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#373 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#376 Update environment variable used to determine `cuda_version`
  conda/recipes/cusignal/meta.yaml
Labels: conda, improvement, non-breaking

#379 Fix merge conflicts [skip ci]
  CHANGELOG.md
  conda/recipes/cusignal/meta.yaml
Labels: conda, improvement, non-breaking

#374 [gpuCI] Forward-merge branch-21.06 to branch-21.08 [skip ci]
  CHANGELOG.md
  conda/recipes/cusignal/meta.yaml
Labels: conda

#378 Perf Improvements for UPFIRDN
  cpp/src/filtering/_upfirdn.cu
  python/cusignal/filtering/_upfirdn_cuda.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/test/test_filtering.py
Labels: 3 - Ready for Review, Python, cpp, improvement, non-breaking

#377 Perf Improvements to SOS Filter
  cpp/src/filtering/_sosfilt.cu
  python/cusignal/filtering/_sosfilt_cuda.py
  python/cusignal/filtering/filtering.py
Labels: 3 - Ready for Review, Python, cpp, improvement, non-breaking
