Repository rapidsai/cusignal, pull requests merged in 2022-12, with the labels that each got.

#525 Enable copy_prs. [skip gpuci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#524 [RELEASE] cusignal v22.12
  .github/workflows/stale.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  ci/benchmark/build.sh
  docs/source/conf.py
  notebooks/api_guide/io_examples.ipynb
  python/cusignal/filtering/resample.py
Labels: Python

#528 Add GitHub Actions Workflows
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/recipes/cusignal/meta.yaml
  dependencies.yaml
  python/.coveragerc
Labels: conda, improvement, non-breaking

#530 Enable `Recently Updated` Check
  .github/ops-bot.yaml
Labels: improvement, non-breaking
