Repository rapidsai/cusignal, pull requests merged in 2022-11, with the labels that each got.

#514 [REVIEW] Revisit WSL install instructions: additional dependency needed for pytest
  README.md
Labels: doc, non-breaking

#517 fix filtering.resample output for even values of num parameter
  python/cusignal/filtering/resample.py
Labels: improvement, non-breaking, Python

#516 Use rapidsai CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: improvement, non-breaking

#515 Update channel priority
  README.md
  ci/benchmark/build.sh
Labels: improvement, non-breaking

#473 Add option for smaller dataset in IO notebook
  notebooks/api_guide/io_examples.ipynb
Labels: improvement, non-breaking, Python

#522 Readme update
  README.md
Labels: doc, non-breaking
