Repository rapidsai/cusignal, pull requests merged in 2022-05, with the labels that each got.

#480 Use conda to build python packages during GPU tests
  ci/gpu/build.sh
  conda/recipes/cusignal/meta.yaml
  python/cusignal/test/__init__.py
  python/cusignal/test/test_acoustics.py
  python/cusignal/test/test_bsplines.py
  python/cusignal/test/test_convolution.py
  python/cusignal/test/test_filter_design.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/test_peak_finding.py
  python/cusignal/test/test_radartools.py
  python/cusignal/test/test_spectral_analysis.py
  python/cusignal/test/test_waveforms.py
  python/cusignal/test/test_wavelets.py
  python/cusignal/test/test_windows.py
  python/cusignal/testing/__init__.py
  python/cusignal/testing/utils.py
Labels: conda, improvement, non-breaking, Python

#475 [gpuCI] Forward-merge branch-22.04 to branch-22.06 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#461 Use conda compilers
  conda/recipes/cusignal/conda_build_config.yaml
  conda/recipes/cusignal/meta.yaml
Labels: conda, improvement, non-breaking, inactive-30d

#484 Simplify conda recipes
  conda/recipes/cusignal/meta.yaml
Labels: conda, improvement, non-breaking
