Repository rapidsai/cusignal, pull requests merged in 2022-01, with the labels that each got.

#448 Allow CuPy 10
  conda/recipes/cusignal/meta.yaml
Labels: conda, improvement, non-breaking

#447 Speedup: Single-precision hilbert, resample, and lfilter_zi.
  .github/PULL_REQUEST_TEMPLATE.md
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/test/conftest.py
  python/cusignal/test/test_filtering.py
  python/cusignal/test/utils.py
Labels: improvement, non-breaking, Python

#446 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#450 adding complex parameter to chirp and additional tests
  python/cusignal/test/test_waveforms.py
  python/cusignal/waveforms/waveforms.py
Labels: 3 - Ready for Review, feature request, non-breaking, Python
