Repository rapidsai/cusignal, pull requests merged in 2023-02, with the labels that each got.

#541 Update isort version to 5.12.0
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#544 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking

#543 Move date to build string in `conda` recipe
  conda/recipes/cusignal/meta.yaml
Labels: conda, improvement, non-breaking

#548 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#546 [RELEASE] cusignal v23.02
  .github/CODEOWNERS
  .github/labeler.yml
  .github/ops-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  build.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/cusignal_base.yml
  conda/environments/cusignal_full.yml
  conda/recipes/cusignal/meta.yaml
  dependencies.yaml
  docs/source/conf.py
  python/.coveragerc
Labels: conda

#547 Remove gpuCI scripts.
  README.md
  ci/benchmark/build.sh
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/README.md
  ci/local/build.sh
Labels: improvement, non-breaking

#536 Add docs build job
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .gitignore
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  docs/source/api.rst
  docs/source/conf.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/spectral.py
Labels: conda, improvement, non-breaking, Python

#555 Skip docs job in nightly runs
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#554 Allow firwin to accept string argument for `pass_zero`
  python/cusignal/filter_design/fir_filter_design.py
Labels: bug, non-breaking, Python

#556 Make docs builds less verbose
  ci/build_docs.sh
Labels: improvement, non-breaking
