Repository rapidsai/cusignal, pull requests merged in 2023-04, with the labels that each got.

#560 [RELEASE] cusignal v23.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .gitignore
  README.md
  ci/benchmark/build.sh
  ci/build_docs.sh
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/README.md
  ci/local/build.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cusignal/conda_build_config.yaml
  conda/recipes/cusignal/meta.yaml
  dependencies.yaml
  docs/source/api.rst
  docs/source/conf.py
  python/cusignal/filter_design/fir_filter_design.py
  python/cusignal/filtering/filtering.py
  python/cusignal/filtering/resample.py
  python/cusignal/spectral_analysis/spectral.py
Labels: conda, Python

#564 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking

#565 Dropping Python 3.8
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, breaking

#566 Revert shared-action-workflows pin
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
